.scroll{
  overflow: scroll;
  position:absolute;
  width:60%;
  height:720px;
  left:123px;
  top:105px
}

.scroll::-webkit-scrollbar {
    width: 12px; 
    height: 100%;       
  }
  
  .scroll::-webkit-scrollbar-track {
    background: #202020;   
  }
  
  .scroll::-webkit-scrollbar-thumb {
    background-color: #313131;  
    border-radius: 10px;  
    border: 4px solid #202020; 
  }