.sidebar{
  position: absolute;
  width:5%;
  height:100%;
  left:7px;
  z-index:5
}
.logo{
  width:70%;
  display: block;
  margin:auto;
}
.active{
    font-size: large;
    font-weight: bold;
    text-align: center;
    color: white;
    margin-bottom: 30px;
}
.inactive{
    position: relative;
    font-weight: bold;
    text-align: center;
    color: #313131;
    margin-bottom: 30px;
}
.head{
    display: none;
}
.coming{
  top:0px;
  left: 10px;
  z-index:6;
  display: none;
  position:absolute;
  width: 120px;
  height: 30px;
  text-align: center;
  background-color: #16acb4;
  color: white;
  box-shadow: 0px 0px 5px #03e9f4, 0px 0px 25px #16acb4, 0px 0px 50px #16acb4, 0px 0px 100px #16acb4;
}
.name{
  display: none;
}
.foot{
  display: none;
  color:#424242;
  font-size:12px;
  margin-left: 20px;
}
.sidebar:hover{
    animation: sidebar 0.7s forwards;
} 
.sidebar:hover .head{
    display: inline;
    animation: head 1s forwards;
} 
.sidebar:hover .name{
  display: inline;
  animation: name 1s forwards;
} 
.sidebar:hover .foot{
  display: inline;
  animation: foot 1s forwards;
} 
.sidebar:not(:hover) .head{
    animation: headRev 0.7s;
    display: none;
}
.sidebar:hover .active{
    margin-bottom: 15px;
    text-align: justify; 
    margin-left: 10%;
} 
.active:hover{
    color: #53ACFF;
}
.inactive:hover .coming{
    display: inline;
}
.sidebar:hover .inactive{
    margin-bottom: 15px;
    text-align: justify; 
    margin-left: 10%;
}
.sidebar:not(:hover){
    animation: rev 0.5s;
}
  @keyframes sidebar {
    0% {width:5%;box-shadow: 0px 0px 8px black;}
    50% {width:12.7%;box-shadow: 1px 0px 5px #313131;}
    85% {width:12.2%;box-shadow: 3px 0px 8px #313131;}
    100% {width:12.5%;box-shadow: 7px 0px 12px #313131;}
  }
  @keyframes rev {
    0% {width:12%}
    40% {width:5%;}
    75% {width:5.4%;}
    100% {width:5%}
  }
  @keyframes head {
    from {opacity: 0%;}
    to {opacity: 100%;}
  }
  @keyframes headRev {
    0% {opacity: 100%;}
    25% {opacity: 70%;}
    50% {opacity: 25%;}
    100% {opacity: 0%;}
  }
  @keyframes name {
    from {opacity: 0%;}
    to {opacity: 100%;}
  }
  @keyframes foot {
    from {opacity: 0%;}
    to {opacity: 100%;}
  }
 